<%- include("./includes/head.ejs"); %>

<body>

  <section>
    <div class="container-fluid mb-2">
      <div
        class="row p-3"
      >
        <div class="col-12 col-md-12 text-center" style="display: flex; align-items: end; justify-content: center">
          <h4>Sign In</h4>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <% if(errorMessage) { %>
            <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
          <% } %>
        </div>

        <div class="col-12 col-md-6">
          <form action="/v1/login" method="POST" novalidate>
            <div class="mb-3">
              <input
                class="form-control"
                type="email"
                name="email"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Alex@gmail.com"
                value="<%= oldInput.email %>"
                required
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>

            <div class="mb-3">
              <input
                class="form-control"
                type="password"
                name="password"
                id="exampleInputPassword1"
                placeholder="Password"
                value="<%= oldInput.password %>"
                required
              />
            </div>

            <div class="mb-3 text-center">
              <button type="submit" class="btn text-light bg-dark w-50 border-0 p-3 bg-primary bg-gradient" style="border-radius: 25px; box-shadow: 5px 5px 10px 2px grey">
                  SIGN IN
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>

  <%- include("./includes/end.ejs"); %>
</body>
